@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    @*<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <header class="header">
            <nav class="header-nav">
                <a asp-controller="LymphSite" asp-action="AffectedSites" class="fixed-left"><span class="logo-text">MLD</span><img src="~/lib/images/diary.svg" class="static-icon" /></a>
                <ul class="header-nav__ul">
                    <li class="dropdown">
                        <img src="~/lib/images/menu.svg" class="static-icon fixed-right" onclick="showhide()" />
                        <ul id="dropdown-content">
                            <li class="dropdown-item" >
                                <a asp-controller="LymphSite" asp-action="Index">Measurement settings</a>
                            </li>
                            <li class="dropdown-item" >
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    }
    <div class="renderbody__container">
        <div class="renderbody__content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">

    function showhide() {
        var e = document.getElementById("dropdown-content");
        if (e.style.display == 'flex')
            e.style.display = 'none';
        else
            e.style.display = 'flex';
    }
</script>
