@model User

blah blah account details

@*<table>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>User Id:</td>
        <td>@Model.Id</td>
    </tr>
</table>

    *@