@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="main__card">
    <div class="main__card--header row">
        <h1 class="main__card--h1">mylymphiediary</h1>
        <img src="~/lib/images/diary.svg" class="static-icon" />
    </div>
    <div class="main__card--content">
        <div class="main__card--subheader">
            <h3>@ViewData["Title"]</h3>
            <h5>Please enter your login details</h5>
            <hr />
        </div>
        <div class="row">
            <div>
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email" hidden></label>
                            <input asp-for="Input.Email" class="form-control form__inputbox" placeholder="Enter your email address" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" hidden></label>
                            <input asp-for="Input.Password" class="form-control form__inputbox" placeholder="Enter your password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a class="hyperlink--dark" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a class="hyperlink--dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
