@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="view-header main__card">
    <div>
        <h1>@ViewData["Title"]</h1>
        <h4>Create a new account</h4>
    </div>
    <hr />
    <div class="row">
        <div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" hidden></label>
                    <input asp-for="Input.Email" class="form-control form__inputbox" placeholder="Enter your email address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" hidden></label>
                    <input asp-for="Input.Password" class="form-control form__inputbox" placeholder="Choose a password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" hidden></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control form__inputbox" placeholder="Confirm password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="button">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
