@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="main__card">
    <div class="main__card--header row">
        <h1 class="main__card--h1">mylymphiediary</h1>
        <img src="~/lib/images/diary.svg" class="static-icon" />
    </div>
    <div class="main__card--content">
        <div class="main__card--subheader">
            <h3>@ViewData["Title"]</h3>
            <h5>Create a new account</h5>
            <hr />
        </div>
        <div class="row">
            <div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" hidden></label>
                        <input asp-for="Input.Email" class="form-control form__inputbox" placeholder="Enter your email address" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" hidden></label>
                        <input asp-for="Input.Password" class="form-control form__inputbox" placeholder="Choose a password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword" hidden></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form__inputbox" placeholder="Confirm password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="button">Register</button>
                    <div class="form-group section__buttons">
                        <p>
                            <a class="hyperlink--dark" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
