<div class="view-header homepage-card">
    <div>
        <h1>MLD</h1>
    </div>
    <div>
        <a asp-area="Identity" asp-page="/Account/Register" class="button" >Sign Up</a>
        <p>Already have an account? <a asp-area="Identity" asp-page="/Account/Login" class="hyperlink--dark">Log in</a></p>
    </div>
</div>