@model LymphSiteViewModel
<div class="view-header">
    <h1>Track your condition</h1>
    <p>Record a new measurement or see history</p>
</div>
<div class="view-body">
    @if (Model.LymphSites.Count > 0)
    {
        @foreach (var item in Model.LymphSites.Where(n => n.NumMeasuringPoints > 0))
        {
            <div class="section row">
                <h2>@item.Name</h2>
                <div class="section__buttons">
                    <a asp-controller="Measurement" asp-action="New" asp-route-LymphSiteId=@item.Id><img src="~/lib/images/add.svg" alt="New measurement" class="icon" /></a>
                    <a asp-controller="Measurement" asp-action="All" asp-route-LymphSiteId=@item.Id><img src="~/lib/images/history.svg" alt="Measurement history" class="icon"/></a>
                </div>
            </div>
        }
    }
    else
    {
        <p>No affected areas found</p>
        <p><a asp-controller="LymphSite" asp-action="Index" class="hyperlink--dark">Set affected lymph sites</a></p>
    }

</div>

<div>
</div>

